@page "/about-me"

<PageTitle>AboutMe</PageTitle>
<h1>About Me</h1>
<MarkdownView FromUrl="/markdown/about-me/about-me.md" />
<hr />
<div class="container">
    @if (SelectedSection == Section.Interests)
    {
        <button type="button" class="collapsible" @onclick="@((e) => { SelectedSection = Section.None; })"><h2>Personal Interests</h2></button>
        <div class="collapsible-content">
            <MarkdownView FromUrl="/markdown/about-me/interests.md" />
        </div>

    }
    else
    {
        <button type="button" class="collapsible" @onclick="@((e) => { SelectedSection = Section.Interests; })"><h2>Personal Interests</h2></button>
    }
</div>
<div class="container">
    <hr />
    @if (SelectedSection == Section.Stories)
    {
        <button type="button" class="collapsible" @onclick="@((e) => { SelectedSection = Section.None; })"><h2>Life Stories</h2></button>
        <div class="collapsible-content">
            <Stories/>
        </div>
    }
    else
    {
        <button type="button" class="collapsible" @onclick="@((e) => { SelectedSection = Section.Stories; })"><h2>Life Stories</h2></button>
    }
</div>
