@page "/card-games"

@using BlazorApp.Client.Utils.Enums

<div class="row">
    <div class="col">
        <button class="btn" style="border-color:black;border-width:.1em;" @onclick=ShowRandomCards>Random Cards</button>
    </div>
    <div class="col">
        <button class="btn" style="border-color:black;border-width:.1em;" @onclick=ShowBlackJack>Black Jack</button>
    </div>
</div>

@if (GameType == CardGameType.Random)
{
    <RandomCards />
}

@if (GameType == CardGameType.Blackjack)
{
    <BlackJackGame />
}
