@page "/"
@using AlgoCards.Constants
@using AlgoCards.Enums
@using AlgoCards.Models
@inject NavigationManager NavMan;

<PageTitle>Donavan Olsen</PageTitle>
<MarkdownView FromUrl="/markdown/welcome.md" />
<div class="col">
    <div class="row">
        <div class="col" style="width:100%">
            
        </div>

    </div>
</div>

@code {
    [CascadingParameter]
    public AppState AppState { get; set; }

    [CascadingParameter] public IModalService? Modal { get; set; }

    private ModalOptions modalOptions = new()
        {
            Position = ModalPosition.TopLeft,
            Animation = ModalAnimation.FadeInOut(1),
            HideHeader = true
        };

    protected override async Task OnInitializedAsync()
    {
        if (!AppState.AcceptedTOS)
        {
            var accepted = await ShowGDPRNotification();
            if (accepted)
            {
                AppState.AcceptedTOS = true;
            }

            NavMan.NavigateTo("/");
        }



        await Task.CompletedTask;
    }

    private async Task<bool> ShowGDPRNotification()
    {
        bool accepted;

        var gdpr = Modal.Show<GDPRNotice>();
        var result = await gdpr.Result;

        if (result.Cancelled)
        {
            accepted = false;
        }
        else
        {
            accepted = true;
        }

        return await Task.FromResult(accepted);
    }
}