@page "/projects"

<PageTitle>Projects</PageTitle>
<h1>Projects</h1>
<hr />

<div Class="card-group">
    <div class="card project-card" >
        <div class="card-header">
            <h3>Static website (this site)</h3>
        </div>
        <div class="card-body">
            <MarkdownView FromUrl="/markdown/projects/thisSite.md" />
        </div>
    </div>
</div>

@*
    ******* TEMPLATE FOR NEW ITEMS *******

    <div class="card project-card">
    <div class="card-header">

    </div>
    <div class="card-body">

    </div>
    </div>

    **************************************
*@