<div class="modal-content">
    <h1>Licence</h1>
    <MarkdownView FromUrl="/LICENSE.md" />
    @if(ModalInstance != null)
    {
        <button @onclick=Close class="btn btn-lg btn-outline-primary" style="float:right">Close</button>
    }
</div>