<div class="modal-default">
    <h1>About this Website</h1>
    <MarkdownView FromUrl="/markdown/about.md" />
    @if(ModalInstance != null)
    {
        <button @onclick=Close class="btn btn-lg btn-outline-primary" style="float:right">Close</button>
    }
</div>