<div class="modal-default">
    <div class="col">
        <h1>About this Website</h1>
    </div>
    <MarkdownView FromUrl="/markdown/about.md" />
    <span class="accent-text">click anywhere outside of this window to close</span>
</div>