<div class="modal-default">
@*    <div class="col">
        <h1>About this Website</h1>
    </div>*@
    <h1>About this Website</h1>
    <MarkdownView FromUrl="/markdown/about.md" />
    @if(ModalInstance != null)
    {
        <button @onclick="Close" class="btn btn-primary" style="float:right">Close</button>
    }
</div>