@using BlazorApp.Client.Utils.Enums
<h3>BlackJack</h3>
Bank: @playerBank

<EditForm Model=this>
    <InputNumber @bind-Value=wager/>
    <button type="submit" @onclick=Deal>Deal</button>
</EditForm>


<div class="row">
    <div class="col">
        <h5>Player</h5>
        @foreach (var card in playerHand)
        {
            <PlayingCard Card=card />
        }
        <div class="row">
            <h5>Player total: </h5>
            @playerHandValue
        </div>
    </div>
    <div class="col">
        <h5>Dealer</h5>
        
        @if (handIsActive)
        {
            @foreach (var card in GetDealerShow(dealerHand))
            {
                <PlayingCard Card=card />
            }
            <div class="row">
                <h5>Dealer total:</h5>
                @dealerShowValue
            </div>        
        }
        
        @if (!handIsActive)
        {
            @foreach (var card in dealerHand)
            {
                <PlayingCard Card=card />
            }
            <div class="row">
                <h5>Dealer total:</h5>
                @dealerHandValue
            </div>
        }
    </div>
</div>
<h4>@dealerMessage</h4>
@if (handIsActive)
{
    @foreach(var opt in playerActions)
    {
        if (opt == BlackJackPlayerActions.Stay)
        {
            <button class="btn btn-lg" style="margin:1em; background:green" @onclick=PlayerStays>Stay</button>
        }

        if (opt == BlackJackPlayerActions.Hit)
        {
            <button class="btn btn-lg" style="margin:1em; background:orange" @onclick=PlayerHits>Hit</button>
        }

        if (opt == BlackJackPlayerActions.DoubleDown)
        {
            <button class="btn btn-lg" style="margin:1em; background:orangered" @onclick=PlayerDoubles>Double Down</button>
        }

@*        if (opt == BlackJackPlayerActions.Split)
        {
            <button class="btn btn-lg btn-warning" style="margin:1em;" @onclick=PlayerSplits>Split</button>
        }*@
    }
}

