<h3>BlackJack</h3>
Bank: @playerBank

<EditForm Model=this>
    <InputNumber @bind-Value=wager/>
    <button type="submit" @onclick=Deal>Deal</button>
</EditForm>
@message

<div class="row">
    <div class="col">
        <h5>Player</h5>
        @foreach (var card in playerHand)
        {
            <PlayingCard Card=card />
        }
        <div class="row">
            <h5>Player total: </h5>
            @playerHandValue
        </div>
    </div>
    <div class="col">
        <h5>Dealer</h5>
        
        @if (handIsActive)
        {
            @foreach (var card in GetDealerShow(dealerHand))
            {
                <PlayingCard Card=card />
            }
            <div class="row">
                <h5>Dealer total:</h5>
                @dealerShowValue
            </div>        
        }
        
        @if (!handIsActive)
        {
            @foreach (var card in dealerHand)
            {
                <PlayingCard Card=card />
            }
            <div class="row">
                <h5>Dealer total:</h5>
                @dealerHandValue
            </div>
        }
    </div>
</div>
@if (handIsActive)
{
    <div class="row">
        <button class="btn" @onclick=EndHand>EndHand</button>
    </div>
}

