<div class="card">
    <div class="row" style="padding:1em;">
        <div class="col-2">
            <button class="btn navbar-brand" @onclick="@((e) => { OnStorySelected(StoryName.Fifty3Pilots).GetAwaiter().GetResult(); })"><h4>53 Pilots</h4></button>
        </div>
        <div class="col" style="width:100%; float:right;padding:1em;">
            <MarkdownView FromUrl="/markdown/about-me/stories/tldr/fifty3pilots_tldr.md" />
        </div>
    </div>
    <hr />
    <div class="row" style="padding:1em;">
        <div class="col-2">
            <button class="btn navbar-brand" @onclick="@((e) => { OnStorySelected(StoryName.ProSe).GetAwaiter().GetResult(); })"><h4>Pro Se</h4></button>
        </div>
        <div class="col" style="width:100%; float:right;padding:1em;">
            <MarkdownView FromUrl="/markdown/about-me/stories/tldr/pro-se_tldr.md" />
        </div>
    </div>
</div>
