@inherits LayoutComponentBase

<div class="page @AppState.SelectedTheme">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <TopRow />
        </div>

        <div class="col-auto"></div>
        <div class="col" style="height:100%">
            <article class="content px-4">
                @Body
            </article>
        </div>
        <div class="col-auto"></div>
    </main>
</div>
