@using BlazorApp.Client.Utils
@using BlazorApp.Client.Utils.Constants
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button @onclick="@(() => Modal?.Show<About>(string.Empty, ModalOpts))" class="badge small btn-primary">About</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
