@inherits LayoutComponentBase

<div class="@AppState.SelectedTheme">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <TopRow />
            </div>
            <div class="content px-4">
                <div class="col-auto"></div>
                <div class="col" style="height:100%;">
                    <article class="content">
                        @Body
                    </article>
                </div>
                <div class="col-auto"></div>
            </div>
        </main>
    </div>
</div>