@inherits LayoutComponentBase

<div class="@AppState.SelectedTheme">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <TopRow />
            </div>
            <div class="content px-4">
                <article class="content">
                    @Body
                </article>
            </div>
        </main>
    </div>
</div>