<div class="row">
    <div class="col">
        <select @onchange=AppState.ToggleTheme class="theme-toggle">
            @foreach (var theme in ThemeOptions.Themes)
            {
                <option selected=@AppState.IsSelectedTheme(theme) value=@theme>@theme.ToString()</option>
            }
        </select>
    </div>
    <div class="col">
        <button @onclick=ShowModal class="about-button">About</button>
    </div>
</div>

