.theme-toggle {
    background:var(--background);
    color:var(--font-color);
    border-color:var(--accent);
    border-width:.1em;
    border-radius:.5em;
    padding:.25em;
    margin:-.5em;
    margin-left:-1em;
    margin-top:.3em;
}

.about-button {
    font-size:2em;
    border-radius:1em;
    background:transparent;
    color:var(--font-color);
    border-width:0;
    margin-right:0;
    padding:0;
}

