.theme-toggle {
    background:var(--background);
    color:var(--font-color);
    border-color:var(--accent);
    border-width:.1em;
    border-radius:.5em;
    padding:.25em;
    padding-left:.5em;
    padding-right:.5em;
}

.about-button {
    font-size:.5em;
    border-radius:1em;
    background:var(--highlight);
    color:var(--background);
    padding-left:.5em;
    padding-right:.5em;
    border-width:.2em;
}
